<footer class="site-footer">
  <div class="footer-container">

    <div class="footer-logo">
      <img src="assets/images/logo.png" alt="Höchster Garten Logo">
    </div>

    <div class="footer-section">
      <h4>Navigation</h4>
      <ul>
        <li><a href="index.html">Startseite</a></li>
        <li><a href="about.html">Über uns</a></li>
        <li><a href="booking.html">Angebot</a></li>
        <li><a href="events.html">Veranstaltungen</a></li>
        <li><a href="contact.html">Kontakt</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Kontakt</h4>
      <p>Beispielstraße 12<br>65929 Frankfurt-Höchst</p>
      <p>Tel: <a href="tel:+4900000000">+49 000 000000</a></p>
      <p><a href="mailto:info@hoechstergarten.de">info@hoechstergarten.de</a></p>
    </div>

    <div class="footer-section">
      <h4>Folge uns</h4>
      <div class="social-icons">
        <a href="#"><img src="assets/icons/instagram.svg" alt="Instagram"></a>
        <a href="#"><img src="assets/icons/facebook.svg" alt="Facebook"></a>
        <a href="#"><img src="assets/icons/twitter.svg" alt="Twitter"></a>
      </div>
    </div>

  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 Höchster Garten.</p>
  </div>
</footer>