<header class="site-header">
    <div class="container">
        <img src="assets/icons/logo-weiss-trans.png" alt="Logo Höchster Garten" class="logo" />

        <div id="burger" class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav id="navbar" class="main-nav">
            <a href="#">Startseite</a>
            <a href="#">Über uns</a>
            <a href="#">Angebote</a>
            <a href="#">Veranstaltungen</a>
            <a href="#">Kontakt</a>
        </nav>
    </div>
</header>